*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4, h5, h6 {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #179fed;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2.8rem;
  z-index: 30;
  width: 50px;
  color: #eee;
  transition: 0.2s ease-in-out;
}
.logo img {
  display: block;
  width: 100%;
}

.nav {
  position: sticky;
  top: 0;
  background-image: linear-gradient(45deg, #179fed, #106CA1);
  z-index: 205;
}
.nav .container {
  padding: 1.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav__container {
  transition-property: padding;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.nav__list {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  background-color: #179fed;
}
.nav__list li {
  margin: 0 1em 2em 0;
}
.nav__list li:last-child {
  background-color: #222;
  border-radius: 0.25em;
}
.nav__list--active {
  transform: translateX(0);
}
.nav__item {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  color: #eee;
  font-size: 2rem;
  text-transform: uppercase;
  transition-property: font-size, width, height;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.nav__item::before, .nav__item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  transition-property: font-size, width, height;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.nav__item::before {
  top: -2px;
  left: -4px;
  border-top: 0;
  border-left: 0;
}
.nav__item::after {
  bottom: -2px;
  right: -4px;
  border-bottom: 0;
  border-right: 0;
}
.nav__item:hover::before, .nav__item:hover::after {
  width: 50px;
  height: 50%;
}
.nav__item:hover::before {
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
}
.nav__item:hover::after {
  border-bottom: 2px solid #eee;
  border-right: 2px solid #eee;
}

@media (min-width: 992px) {
  .nav {
    background-color: #179fed;
  }
  .nav .container {
    padding: 1.5em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__list {
    position: relative;
    display: flex;
    justify-content: end;
    flex-direction: row;
    height: 100%;
    transform: translateX(0);
    background-color: transparent;
  }
  .nav__list li {
    margin-bottom: 0;
  }
  .nav__list li:last-child {
    margin-right: 0;
  }
  .nav__item {
    font-size: 1.6rem;
  }
}
.burger {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.burger:focus > .burger__container {
  box-shadow: 0 0 2px 2px #00ffff;
}
.burger:focus, .burger__container:focus {
  outline: none;
}
.burger__container {
  display: flex;
  align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
}
.burger__bars {
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: #eee;
  transition: transform 220ms ease-in-out;
  border-radius: 2px;
}
.burger__bars::before, .burger__bars::after {
  display: block;
  position: absolute;
  width: 35px;
  height: 3px;
  content: "";
  background-color: #eee;
  border-radius: 2px;
}
.burger__bars::before {
  top: -12px;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
}
.burger__bars::after {
  bottom: -12px;
  transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
}
.burger--active .burger__bars {
  transform: rotate(225deg);
  transition: transform 220ms 120ms ease-in-out;
}
.burger--active .burger__bars::before {
  top: 0;
  transition: top 100ms ease-out;
}
.burger--active .burger__bars::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
}

@media (min-width: 992px) {
  .burger {
    display: none;
  }
}
.btn {
  position: relative;
  z-index: 149;
  display: block;
  padding: 1em;
  text-align: center;
  background-color: #179fed;
  color: #eee;
  border-radius: 0.25em;
}
.btn:last-child {
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  padding: 0 2em;
  width: 100%;
  max-width: 1200px;
}

.header,
.offer,
.realizations,
.price {
  padding: 6em 0;
}

.section__heading {
  margin-bottom: 1em;
}

@media (max-width: 320px) {
  .container {
    padding: 0 1em;
  }
  .header,
  .offer,
  .realizations,
  .price {
    padding: 2em 0;
  }
}
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #106CA1 url(../img/page/particles-7104407_640.jpg) center;
  background-size: cover;
  color: #eee;
}
.header .container p {
  position: relative;
  z-index: 150;
  margin-bottom: 2em;
  line-height: 1.5;
}
.header .container .btn {
  margin-bottom: 1.5em;
}
.header .header__heading {
  margin-bottom: 1em;
  position: relative;
  z-index: 151;
}

@media (min-width: 768px) {
  .header .btn {
    display: inline-block;
    margin-right: 1.5em;
  }
  .header p {
    max-width: 75%;
  }
}
@media (min-width: 992px) {
  .header {
    padding: 12em 0;
  }
  .header p {
    max-width: 50%;
  }
}
.offer {
  background-color: #eee;
}
.offer ul li {
  list-style: inside;
  margin-bottom: 2em;
  line-height: 1.5;
}
.offer ul li:last-child {
  margin-bottom: 0;
}

.realizations {
  background-image: linear-gradient(45deg, #179fed, #106CA1);
}
.realizations__item {
  background-color: #eee;
  margin-bottom: 2em;
  padding: 0;
}
.realizations__item:last-child {
  margin-bottom: 0;
}
.realizations__item img {
  width: 100%;
  margin-bottom: 1em;
}
.realizations__item h3 {
  padding: 0 1em 1em;
  line-height: 1.2;
}
.realizations__item p {
  padding: 0 1em 1em;
}

@media (min-width: 768px) {
  .realizations__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .realizations__item {
    width: 48%;
  }
  .realizations__item:last-child {
    margin-bottom: 2em;
  }
  .realizations__item img {
    margin-bottom: 2em;
  }
  .realizations__item h3 {
    padding: 0 2em 1em;
  }
  .realizations__item p {
    padding: 0 2em 2em;
  }
}
.price {
  background-color: #eee;
}
.price li {
  list-style: inside;
  margin-bottom: 2em;
  line-height: 1.5;
}
.price li:last-child {
  margin-bottom: 0;
}

.contact {
  padding: 6em 0 2em;
  line-height: 1.5;
}
.contact p {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .contact p {
    width: 50%;
  }
}
.footer {
  background-color: #222;
  color: #eee;
}
.footer__copy {
  padding: 2rem 0;
}/*# sourceMappingURL=main.css.map */