// Setting styles

.container {
	margin: 0 auto;
	padding: 0 2em;
	width: 100%;
	max-width: 1200px;
}

.header,
.offer,
.realizations,
.price {
	padding: 6em 0;
}

.section {
	&__heading {
		margin-bottom: 1em;
	}
}

@media (max-width: 320px) {
	.container {
		padding: 0 1em;
	}
	.header,
	.offer,
	.realizations,
	.price {
		padding: 2em 0;
	}
}

