// Realizations styles

.realizations {
	background-image: $primary-gradient;
	&__item {
		background-color: $light-color;
		margin-bottom: 2em;
		padding: 0;
		&:last-child {
			margin-bottom: 0;
		}
		img {
			width: 100%;
			margin-bottom: 1em;
		}
		h3 {
			padding: 0 1em 1em;
			line-height: 1.2;
		}
		p {
			padding: 0 1em 1em;
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.realizations {
		&__items {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__item {
			width: 48%;
			&:last-child {
				margin-bottom: 2em;
			}
			img {
				margin-bottom: 2em;
			}
			h3 {
				padding: 0 2em 1em;
			}
			p {
				padding: 0 2em 2em;
			}
		}
	}
}
