// Variables style

$light-color: #eee;
$dark-color: #222;
$primary-color: #179fed;
$secondary-color: #106CA1;
$overlay-color: rgba(0, 0, 0, .5);

$primary-gradient: linear-gradient(45deg, $primary-color, $secondary-color);

$default-rounding: .25em;

