// Navigation style

.nav {
	position: sticky;
	top: 0;
	background-image: $primary-gradient;
	z-index: 205;
	.container {
		padding: 1.5em 2em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.nav__container {
		transition-property: padding;
		@include default-animation;
	}
	&__list {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100vh;
		transform: translateX(100%);
		transition-property: transform;
		@include default-animation;
		background-color: $primary-color;
		li {
			margin: 0 1em 2em 0;
			&:last-child {
				.nav__item {
					background-color: $dark-color;
					border-radius: $default-rounding;
					position: relative;
					transition-property: background-color 0.3s;
					overflow: hidden;
					z-index: 0;
				}
				.nav__item:hover {
					color: $dark-color;
				}
				.nav__item::before,
				.nav__item::after {
					border: none;
				}
				.nav__item::before {
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					content: '';
					width: 100%;
					height: 100%;
					transform: scaleX(0);
					transform-origin: right;
					transition: transform 0.3s;
					z-index: -10;
					background-color: $light-color;
					color: $dark-color;
				}
				.nav__item:hover::before {
					transform: scaleX(1);
					transform-origin: left;
				}
			}
		}
		&--active {
			transform: translateX(0);
		}
	}
	&__item {
		position: relative;
		display: inline-block;
		padding: 0.5em 1em;
		color: $light-color;
		font-size: 2rem;
		text-transform: uppercase;
		transition-property: font-size, width, height;
		@include default-animation;
	}
	&__item::before,
	&__item::after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		transition-property: font-size, width, height;
		@include default-animation;
	}
	&__item::before {
		top: -2px;
		left: -4px;
		border-top: 0;
		border-left: 0;
	}
	&__item::after {
		bottom: -2px;
		right: -4px;
		border-bottom: 0;
		border-right: 0;
	}
	&__item:hover::before,
	&__item:hover::after {
		width: 50px;
		height: 50%;
	}
	&__item:hover::before {
		border-top: 2px solid $light-color;
		border-left: 2px solid $light-color;
	}
	&__item:hover::after {
		border-bottom: 2px solid $light-color;
		border-right: 2px solid $light-color;
	}
}

@media (min-width: 992px) {
	.nav {
		background-color: $primary-color;
		.container {
			padding: 1.5em 2em;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__list {
			position: relative;
			display: flex;
			justify-content: end;
			flex-direction: row;
			height: 100%;
			transform: translateX(0);
			background-color: transparent;
			li {
				margin-bottom: 0;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		&__item {
			font-size: 1.6rem;
		}
	}
}
